# --- Core Backend ---
fastapi==0.115.0
uvicorn==0.30.0
pymongo==4.10.1
pydantic[email]==2.9.2
python-dotenv==1.0.1
requests==2.32.3
python-multipart==0.0.9
joblib==1.4.2
packaging==24.1

# --- Text & Semantic Understanding ---
sentence-transformers==2.2.2
torch==2.7.1+cpu 
--extra-index-url https://download.pytorch.org/whl/cpu
textblob==0.17.1
numpy==1.26.4
scikit-learn==1.7.2
pandas==2.1.4
nltk==3.9.1

# --- Auth & Security ---
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# --- Google API ---
google-api-python-client==2.100.0
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
email-validator==2.2.0
